h1 {
	font-family: Arial;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

table {
	display: block;
	margin: 0 auto;
	width: 580px;
	border-collapse: collapse;
}

tr, td, th {
	border: 1px solid Silver;
}

.envoi1 {
	height: 20px;
	width: 20px;
	background-image: url("../img/ajout.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	border: none;
}

.envoi {
	height: 20px;
	width: 20px;
	background-image: url("../img/save.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	border: none;
}

.delete {
	height: 20px;
	width: 20px;
	background-image: url("../img/delete.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	border: none;
}

input {
	border: none;
}

::-webkit-input-placeholder {
    color:    black;
}
:-moz-placeholder { 
   color:    black;
   opacity:  1;
}
::-moz-placeholder { 
   color:    black;
   opacity:  1;
}

th ::-webkit-input-placeholder {
    color:    Lavender;
}
th :-moz-placeholder { 
   color:    Lavender;
   opacity:  1;
}
th ::-moz-placeholder { 
   color:    Lavender;
   opacity:  1;
}